/*page*/
*{margin: 0; padding: 0; box-sizing: border-box;}
body{background-image: url("../img/bgi.jpg");}
a{text-decoration: none; color: white;}
/*wrap*/
#wrap {width: 2000px; height: 1000px; margin: 0 auto;}

/*header*/
.logo {width: 280px; height: 120px;}
.top {width: 460px; height: 80px; float: right;}
.top > ul {width: 500px; height: 100px; overflow: hidden; float: right; text-align: center; list-style: none;font-style: 10px;}
.top > ul > li{width:100px;float:left;list-style:none;}